doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/leaflet.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    title Карта ФВФ
  body
    div#map
    div
      include priority-tables
  script(src=`js/webmap-fvf.js`)

