doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/leaflet.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    title Карта ФВФ
  body
    .mt-3.d-flex.flex-row.align-items-stretch
      div.p-2.overflow-auto.info-container
        include priority-tables
      div#map
  script(src=`js/webmap-fvf.js`)

